.contain {
  position: relative;
}

.button {
  position: absolute;
  width: 500px;
  left: -70px;
  top: 100px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: #ff6c34;
  border: solid 2px #ff6c34;
  z-index: 1;
}

.contain:hover .button {
  opacity: 1;
}

